# Backend Laravel
APP_NAME="R.BEK Intelligence Platform"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://api.crm.rbek.eng.br
LOG_CHANNEL=stderr
DB_CONNECTION=pgsql
DB_URL=${{Postgres.DATABASE_URL}}
FRONTEND_URL=https://crm.rbek.eng.br

# Frontend Next.js
NEXT_PUBLIC_API_URL=https://api.crm.rbek.eng.br/api
